<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>mainWebhookEndpoint</servlet-name>
        <servlet-class>nubyxextraservices.servlets.mainWebhookEndpoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainWebhookStatusEndpoint</servlet-name>
        <servlet-class>nubyxextraservices.servlets.mainWebhookStatusEndpoint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainWebhookEndpoint</servlet-name>
        <url-pattern>/mainWebhookEndpoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainWebhookStatusEndpoint</servlet-name>
        <url-pattern>/mainWebhookStatusEndpoint</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>nubyxextraservices.servlets.filters.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
